<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<%= link_to "新規投稿", "posts/new" %>


<% @post.each do |p| %><br>
    <h3>ID</h3>
    <%= p.id %><br>
    <h3>タイトル</h3>
    <%= p.title %><br>
    <h3>開始日</h3>
    <%= p.start_Day %><br>
    <h3>終了日</h3>
    <%= p.End_Day %><br>
    <h3>更新日</h3>
    <%= p.updated_at.in_time_zone('Tokyo').strftime('%Y/%m/%d %H:%M:%S') %><br>
    <%= link_to "確認", post_path(p) %><br>
    <%= link_to "編集", edit_post_path(p) %><br>
    <%= link_to "削除", post_path(p), method: :delete %><br>
<% end %>
