<h1>新規投稿</h1>
<%= link_to "一覧ページ", "/" %>

<%= form_with(model: @post, local: true) do |form| %>
  <% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |msg| %>
    <%= msg %><br>
    <% end %>
  <% end %>
<% end %>

<%= form_with(model: @post, local: true) do |form| %>
  <%= form.label :"タイトル" %><br>
  <%= form.text_field :title %><br>
  <%= form.label :"開始日" %><br>
  <%= form.date_field :start_Day %><br>
  <%= form.label :"終了日" %><br>
  <%= form.date_field :End_Day %><br>
  <%= form.label :"内容" %><br>
  <%= form.text_field :content %><br>
  <%= form.submit %>
<% end %>