<h1>show.html.erb</h1>

<h3>ID</h3>
<%= @post.id %><br>
<h3>タイトル</h3>
<%= @post.title %><br>
<h3>開始日</h3>
<%= @post.start_Day %><br>
<h3>終了日</h3>
<%= @post.End_Day %><br> 
<h3>内容</h3>
<%= @post.content %><br>
<%= link_to "一覧へ戻る", "/" %>